<p style="color: green"><%= notice %></p>

<h1>Flights</h1>

<div id="flights">
<div>
  <%= form_with(method: "get") do %>
    <%= label_tag(:query, "Select Origin") %>
    <%= select_tag "origin", options_for_select(@origins, params[:origin]), :include_blank => true, :onchange => "this.form.submit()" %>
    <br>
    <br>
    <% if params[:origin].present? %>
      <%= label_tag(:query, "Select Destiniation") %>
      <%= select_tag "destination", options_for_select(@destinations, params[:destination]), :include_blank => true, :onchange => "this.form.submit()" %>  
    <% end %>
  <% end %>
  <br>
</div>
<% if params[:origin].present? && params[:destination].present? %>
  <%= month_calendar(attribute: :date, events: @flights) do |date, flights| %>
    <%= date %>
    <%  @flights.each do |flight| %>
      <% if flight.date == date %>
        <div>
          <%= flight.price %>
          <br>
          <%= flight.airline %>
        </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
