<p style="color: green"><%= notice %></p>

<h1>Flights</h1>

<div id="flights">
<div>
  <%= form_with(method: "get") do %>
    <%= label_tag(:query, "Select Origin") %>
        <br>
    <%= select_tag "origin", options_for_select(@origins, params[:origin]), :include_blank => true, :onchange => "this.form.submit()" %>
    <br>
    <br>
    <% if params[:origin].present? %>
      <%= label_tag(:query, "Select Destiniation") %>
          <br>
      <%= select_tag "destination", options_for_select(@destinations, params[:destination]), :include_blank => true, :onchange => "this.form.submit()" %>  
    <% end %>
  <% end %>
  <br>
</div>
<% if params[:origin].present? && params[:destination].present? %>
  <%= month_calendar(attribute: :date, events: @flights) do |date, flights| %>
    <%= date %>
    <%  @flights.each do |flight| %>
      <% if flight.date == date %>
        <% if flight.price == @lowest_flight_price %>
          <div class='lowest-price-highlight'>
        <% else %>        
          <div>
        <% end %>
          R<%= flight.price %>
          <br>
          <% if flight.airline == 'FlySaFair'%>
            <%= link_to "FlySaFair", "https://www.flysafair.co.za", target: :_blank %>
          <% elsif flight.airline == 'Lift'%>
            <%= link_to "Lift", "https://www.lift.co.za/" %>
          <% end %>
        </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to  "Subscribe to flight notifications",  new_subscription_path %>
