<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @flight.origin %> to <%= @flight.destination %> is now R<%= @flight.price %> on <%= @flight.date %></p>
    <p><%= @flight.airline %>.co.za</p>
  </body>
</html>