<h2>Get Flight Price Updates</h2>

<%= form_with(model: @subscription, local: true) do |f| %>
  <br>
  <%= f.label :email %>
  <br>
  <%= f.text_field :email %>
  <br>
  <%= f.label :origin %>
  <br>
  <%= f.select :origin, options_for_select(@origins, params[:origin]), :include_blank => true %>
  <br>
  <%= f.label :destination %>
  <br>
  <%= f.select :destination, options_for_select(@origins, params[:destination]), :include_blank => true %>
  <br>
  <%= f.label(:date_start, 'Date Start') %>
  <br>
  <%= f.date_field :date_start %>
  <br>
  <%= f.label(:date_end, 'Date End') %>
  <br>
  <%= f.date_field :date_end %>
  <br>
  <%= f.label(:return, "Track Return Flights?") %>
  <br>
    <%= f.label(:return_date_start, 'Return Date Start') %>
    <br>
    <%= f.date_field :return_date_start %>
    <br>
    <%= f.label(:return_date_end, 'Return Date End') %>
    <br>
    <%= f.date_field :return_date_end%>
    <br>
  <br>
  <%= f.submit "Get Price Updates" %>
<% end %>